{"swagger":"2.0","info":{"description":"","version":"1.0.0","title":"storm钱包服务api"},"host":"www.zexchange.xyz","basePath":"/api/wallet-storm","tags":[{"name":"storm钱包服务api","description":""}],"schemes":["http"],"paths":{"/api/wallet-storm/v1/deposit/transaction":{"get":{"tags":["storm钱包服务api"],"summary":"获取充值交易详情","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"chain","required":false,"description":"要查询哪条链上的交易","type":"string"},{"in":"query","name":"tx_id","required":true,"description":"要查询的tx id","type":"string"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/get_deposit_transaction_ApiResult"}}},"description":"apikey_auth: 对apikey以及签名进行校验\n"}},"/api/wallet-storm/v1/is-platform-address":{"get":{"tags":["storm钱包服务api"],"summary":"校验地址是否平台地址","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"currency","required":true,"description":"currency","type":"string"},{"in":"query","name":"chain","required":true,"description":"要查询哪条链上的地址","type":"string"},{"in":"query","name":"address","required":true,"description":"address","type":"string"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/is_platform_address_ApiResult"}}},"description":"apikey_auth: 对apikey以及签名进行校验\n"}},"/api/wallet-storm/v1/new-address":{"post":{"tags":["storm钱包服务api"],"summary":"获取新充值地址","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"description":"","schema":{"$ref":"#/definitions/NewAddressParam"}}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/get_new_deposit_address_ApiResult"}}},"description":"apikey_auth: 对apikey以及签名进行校验\n"}},"/api/wallet-storm/v1/validate-address":{"get":{"tags":["storm钱包服务api"],"summary":"校验地址格式是否合法","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"currency","required":true,"description":"currency","type":"string"},{"in":"query","name":"chain","required":true,"description":"要验证哪条链上的地址","type":"string"},{"in":"query","name":"address","required":true,"description":"address","type":"string"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/validate_address_ApiResult"}}},"description":"apikey_auth: 对apikey以及签名进行校验\n"}},"/api/wallet-storm/v1/withdraw":{"post":{"tags":["storm钱包服务api"],"summary":"发起提现","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"description":"","schema":{"$ref":"#/definitions/WithdrawParam"}}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/withdraw_ApiResult"}}},"description":"apikey_auth: 对apikey以及签名进行校验\n"}},"/api/wallet-storm/v1/withdraw/transaction":{"get":{"tags":["storm钱包服务api"],"summary":"获取提现交易详情","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"chain","required":false,"description":"要查询哪条链上的交易","type":"string"},{"in":"query","name":"tx_id","required":true,"description":"要查询的tx id","type":"string"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/get_withdraw_transaction_ApiResult"}}},"description":"apikey_auth: 对apikey以及签名进行校验\n"}}},"definitions":{"GetDepositTransactionParam":{"type":"object","required":["tx_id"],"properties":{"chain":{"type":"string","example":{"chain":"Eth","tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68"},"description":"要查询哪条链上的交易"},"tx_id":{"type":"string","example":{"chain":"Eth","tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68"},"description":"要查询的tx id"}}},"GetWithdrawTransactionParam":{"type":"object","required":["tx_id"],"properties":{"chain":{"type":"string","example":{"chain":"Eth","tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68"},"description":"要查询哪条链上的交易"},"tx_id":{"type":"string","example":{"chain":"Eth","tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68"},"description":"要查询的tx id"}}},"IsPlatformAddressParam":{"type":"object","required":["currency","chain","address"],"properties":{"address":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"address"},"chain":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"要查询哪条链上的地址"},"currency":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"currency"}}},"NewAddressParam":{"type":"object","required":["currency","chain","index"],"properties":{"chain":{"type":"string","example":"Eth","description":"要获取哪条链上的地址"},"currency":{"type":"string","example":"ETH","description":"currency"},"index":{"type":"number","example":1000,"description":"地址索引。索引一样则返回的地址一样"}}},"ValidateAddressParam":{"type":"object","required":["currency","chain","address"],"properties":{"address":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"address"},"chain":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"要验证哪条链上的地址"},"currency":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"currency"}}},"WithdrawParam":{"type":"object","required":["currency","chain","request_id","address","amount"],"properties":{"address":{"type":"string","example":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a","description":"提现的目标地址"},"amount":{"type":"string","example":"0.6","description":"提现的数量"},"chain":{"type":"string","example":"Eth","description":"提现的链名"},"currency":{"type":"string","example":"ETH","description":"提现的币种名"},"memo":{"type":"string","example":"","description":"memo"},"request_id":{"type":"string","example":"hsgfh65","description":"订单id。此id幂等"}}},"get_deposit_transaction_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":[{"address":"0x3a7f6e30d48c9a0120926b3bc930fe1992a4592c","amount":4.4646,"block_id":"","chain":"Eth","confirmations":1,"created_at":"","currency":"ETH","height":"","output_index":0,"status":1,"tag":"","tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68","user_id":1}],"description":"no desc"},"msg":{"example":"","description":"no desc"}}},"get_new_deposit_address_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"description":"no desc","properties":{"address":{"example":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a","description":"no desc"}}},"msg":{"example":"","description":"no desc"}}},"get_withdraw_transaction_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":[{"amount":4.4646,"block_id":"","chain":"Eth","confirmations":1,"created_at":"","currency":"ETH","from_address":"0x3a7f6e30d48c9a0120926b3bc930fe1992a4592c","height":"","network_fee":0.0043,"output_index":0,"status":1,"tag":"","to_address":"0x5cee9037344f57dbbef7de90348c5c82a1472882","tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68","user_id":1}],"description":"no desc"},"msg":{"example":"","description":"no desc"}}},"is_platform_address_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":true,"description":"no desc"},"msg":{"example":"","description":"no desc"}}},"validate_address_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":true,"description":"no desc"},"msg":{"example":"","description":"no desc"}}},"withdraw_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}}}}