{"swagger":"2.0","info":{"description":"","version":"1.0.0","title":"storm钱包服务api"},"host":"www.zgtest.club","basePath":"/api/storm-wallet","tags":[{"name":"storm钱包服务api","description":""}],"schemes":["http"],"paths":{"/api/storm-wallet/v1/balance":{"get":{"tags":["storm钱包服务api"],"summary":"获取账户余额","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/3_get_balance_ApiResult"}}},"description":"request_auth: 对请求的签名进行校验\n"}},"/api/storm-wallet/v1/deposit/transactions":{"get":{"tags":["storm钱包服务api"],"summary":"获取充值交易详情","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"chain,omitempty","required":false,"description":"要查询哪条链上的交易"},{"in":"query","name":"tx_id","required":true,"description":"要查询的tx id","type":"string"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/1_list_deposit_transaction_ApiResult"}}},"description":"request_auth: 对请求的签名进行校验\n"}},"/api/storm-wallet/v1/is-platform-address":{"get":{"tags":["storm钱包服务api"],"summary":"校验地址是否用户平台地址","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"currency","required":true,"description":"currency","type":"string"},{"in":"query","name":"chain","required":true,"description":"要查询哪条链上的地址","type":"string"},{"in":"query","name":"address","required":true,"description":"address","type":"string"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/0_is_platform_address_ApiResult"}}},"description":"request_auth: 对请求的签名进行校验\n"}},"/api/storm-wallet/v1/new-address":{"post":{"tags":["storm钱包服务api"],"summary":"获取新充值地址","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"description":"","schema":{"$ref":"#/definitions/NewAddressParam"}}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/0_get_new_deposit_address_ApiResult"}}},"description":"request_auth: 对请求的签名进行校验\n"}},"/api/storm-wallet/v1/user-currencies":{"get":{"tags":["storm钱包服务api"],"summary":"获取用户开启的所有币种","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/3_list_user_currencies_ApiResult"}}},"description":"request_auth: 对请求的签名进行校验\n"}},"/api/storm-wallet/v1/user-currency":{"get":{"tags":["storm钱包服务api"],"summary":"获取用户开启的币种","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"currency","required":true,"description":"","type":"string"},{"in":"query","name":"chain","required":true,"description":"","type":"string"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/3_get_user_currencies_ApiResult"}}},"description":"request_auth: 对请求的签名进行校验\n"}},"/api/storm-wallet/v1/validate-address":{"get":{"tags":["storm钱包服务api"],"summary":"校验地址格式是否合法","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"currency","required":true,"description":"currency","type":"string"},{"in":"query","name":"chain","required":true,"description":"要验证哪条链上的地址","type":"string"},{"in":"query","name":"address","required":true,"description":"address","type":"string"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/0_validate_address_ApiResult"}}},"description":"request_auth: 对请求的签名进行校验\n"}},"/api/storm-wallet/v1/withdraw":{"post":{"tags":["storm钱包服务api"],"summary":"发起提现","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"description":"","schema":{"$ref":"#/definitions/WithdrawParam"}}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/2_withdraw_ApiResult"}}},"description":"request_auth: 对请求的签名进行校验\n"}},"/api/storm-wallet/v1/withdraw/transactions":{"get":{"tags":["storm钱包服务api"],"summary":"获取提现交易详情","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"chain,omitempty","required":false,"description":"要查询哪条链上的交易"},{"in":"query","name":"tx_id","required":true,"description":"要查询的tx id","type":"string"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/1_list_withdraw_transaction_ApiResult"}}},"description":"request_auth: 对请求的签名进行校验\n"}}},"definitions":{"0_get_new_deposit_address_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"description":"no desc","properties":{"address":{"example":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a","description":"no desc"}}},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"0_is_platform_address_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":true,"description":"no desc"},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"0_validate_address_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":true,"description":"no desc"},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"1_list_deposit_transaction_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":[{"user_id":1,"currency":"ETH","chain":"Eth","amount":4.4646,"address":"0x3a7f6e30d48c9a0120926b3bc930fe1992a4592c","status":1,"height":"","block_id":"","tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68","confirmations":1,"output_index":0,"tag":"","created_at":"2019-09-04T06:41:39Z"}],"description":"no desc"},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"1_list_withdraw_transaction_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":[{"user_id":1,"currency":"ETH","chain":"Eth","amount":4.4646,"from_address":"0x3a7f6e30d48c9a0120926b3bc930fe1992a4592c","to_address":"0x5cee9037344f57dbbef7de90348c5c82a1472882","status":1,"height":"","block_id":"","tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68","confirmations":1,"output_index":0,"network_fee":0.0043,"tag":"","created_at":"2019-09-04T06:41:39Z"}],"description":"no desc"},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"2_withdraw_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":"","description":"no desc"},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"3_get_balance_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":[{"currency":"ETH","chain":"Eth","avail":"73567","freeze":"77"}],"description":"no desc"},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"3_get_user_currencies_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":[{"withdraw_limit_daily":200,"max_withdraw_amount":100,"withdraw_check_limit":100,"currency":"ETH","chain":"Eth","contract_address":"","decimals":18,"deposit_confirmation_threshold":12,"withdraw_confirmation_threshold":30,"network_fee_currency":"Eth.ETH","network_fee_decimal":18,"has_tag":0,"max_tag_length":0,"is_withdraw_enable":1,"is_deposit_enable":1}],"description":"no desc"},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"3_list_user_currencies_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":[{"withdraw_limit_daily":200,"max_withdraw_amount":100,"withdraw_check_limit":100,"currency":"ETH","chain":"Eth","contract_address":"","decimals":18,"deposit_confirmation_threshold":12,"withdraw_confirmation_threshold":30,"network_fee_currency":"Eth.ETH","network_fee_decimal":18,"has_tag":0,"max_tag_length":0,"is_withdraw_enable":1,"is_deposit_enable":1}],"description":"no desc"},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"GetUserCurrencyParam":{"type":"object","required":["currency","chain"],"properties":{"chain":{"type":"string","example":{"currency":"ETH","chain":"Eth"},"description":""},"currency":{"type":"string","example":{"currency":"ETH","chain":"Eth"},"description":""}}},"IsPlatformAddressParam":{"type":"object","required":["currency","chain","address"],"properties":{"address":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"address"},"chain":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"要查询哪条链上的地址"},"currency":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"currency"}}},"ListDepositTransactionParam":{"type":"object","required":["tx_id"],"properties":{"chain,omitempty":{"example":{"tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68"},"description":"要查询哪条链上的交易"},"tx_id":{"type":"string","example":{"tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68"},"description":"要查询的tx id"}}},"ListWithdrawTransactionParam":{"type":"object","required":["tx_id"],"properties":{"chain,omitempty":{"example":{"tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68"},"description":"要查询哪条链上的交易"},"tx_id":{"type":"string","example":{"tx_id":"0xfeaef9adaa8a949f474cd86d573838e370441616c53836f4a19de0db64b73a68"},"description":"要查询的tx id"}}},"NewAddressParam":{"type":"object","required":["currency","chain","index"],"properties":{"chain":{"type":"string","example":"Eth","description":"要获取哪条链上的地址"},"currency":{"type":"string","example":"ETH","description":"currency"},"index":{"type":"number","example":1000,"description":"地址索引。索引一样则返回的地址一样"}}},"ValidateAddressParam":{"type":"object","required":["currency","chain","address"],"properties":{"address":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"address"},"chain":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"要验证哪条链上的地址"},"currency":{"type":"string","example":{"currency":"ETH","chain":"Eth","address":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a"},"description":"currency"}}},"WithdrawParam":{"type":"object","required":["currency","chain","request_id","address","amount"],"properties":{"address":{"type":"string","example":"0xfb6d58f5dc77ff06390fe1f30c57e670b555b34a","description":"提现的目标地址"},"amount":{"type":"string","example":"0.6","description":"提现的数量"},"chain":{"type":"string","example":"Eth","description":"提现的链名"},"currency":{"type":"string","example":"ETH","description":"提现的币种名"},"memo,omitempty":{"example":null,"description":"memo"},"request_id":{"type":"string","example":"hsgfh65","description":"订单id。此id幂等"}}}}}